$size: 5px;
$bg-color: #e4e4e4;
$blanco-textos: rgba(255, 255, 255, 0.747);
$lila-textos: rgb(177, 137, 209);
$naranja-textos: #ec8937;
$gris-textos: rgb(63, 56, 56);

/* fonts */

$roboto: 'Roboto', sans-serif;
$chela: 'Chela One', cursive;